<div class=" bg-neutral-100 min-h-svh">
  <app-header/>
  <div class=" flex justify-center p-6">
    <form (submit)="create()" [formGroup]="employeeForm" class="flex flex-col gap-4">
      <h1 class=" text-2xl font-medium">Add Member</h1>
      <section class=" flex gap-4">
        <div class=" inputDiv">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name">
        </div>

        <div class=" inputDiv">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email">
        </div>

        <div class=" inputDiv">
          <label for="role">Role</label>
          <input type="text" id="role" formControlName="role">
        </div>
      </section>
      <section class=" flex gap-4">
        <div class=" inputDiv">
          <label for="department">Department</label>
          <input type="text" id="department" formControlName="department">
        </div>

        <div class=" inputDiv">
          <label for="salary">Salary</label>
          <input type="number" id="salary" formControlName="salary">
        </div>

        <div class=" inputDiv">
          <label for="phone">Phone</label>
          <input type="text" id="phone" formControlName="phone">
        </div>
      </section>
      
      <button type="submit" class=" w-fit px-8 py-1 text-neutral-900 bg-orange-500 rounded">
        Add Member
      </button>
    </form>
  </div>
</div>